* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 15vh;
    background-color: #fa2;
    text-shadow: 1px 1px #ddd;
    align-items: center;
    
    h1 {
        width: 100vw;
        font-size: 26px;
        color: #333;
        text-align: center;
    }
}

.main {
    
    .wrapper-slot {
        display: flex;

        .slot {
            width: 20vw;
            height: 60vh;
            border: 1px #444 solid;
        }
    }

    .wrapper-button {
        display: flex;

        .button {
            width: 20vw;
            height: 10vh;
            margin-top: 3vh;
            text-align: center;

            button {
                width: 70px;
                height: 40px;
            }
        }
    }
}

.footer {
    height: 15vh;
}